/* font-family: "Roboto", sans-serif; 
    font-family: "Play", sans-serif;
    font-family: "Cuprum", sans-serif;
    font-family: "Artifika", serif;*/
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    background-color: #C4171E;
}

/* basic font styling */
h1,h2,h3,h4,h5,h6{
    font-size: 1.5em;
}

p,a,li,label,figcaption,td{
    text-decoration: none;
}
/* header */
header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4171E;
}
header div{
    margin: 0 20px;
    width: auto;
    height: 100%;
    flex-grow: 1;
}
header div img {
    width: auto;
    height: 100%;
}
header .desktop-nav menu{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
header .desktop-nav menu li {
    padding: 0px 10px;
    margin-right: 20px;
}
header .desktop-nav menu li a{
    font-family: "Play", sans-serif;
    font-size: 1.5rem;
    color: #fefefe;
}
header .desktop-nav menu li a:hover{
    text-shadow: 0px 0px 20px #fefefe,
    0px 0px 40px #fefefe,
    0px 0px 80px #fefefe;
}
.burger {
    background: none;
    border: none;
    padding: 0;
    margin: 0 15px;
    display: none;
    z-index: 4;
}
.burger:hover {
    cursor: pointer;
}
.burger div {
    width: 35px;
    height: 5px;
    background-color: #fefefe;
    margin: 6px 0;
}
.mobile-nav {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 200px; /* Position below the header */
    left: 0;
    width: 100vw;
    background: #f0f0f0;    
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
}
.mobile-nav menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-nav menu li{
    background-color: #f0f0f0;
}
.mobile-nav menu li:hover,
.mobile-nav menu li:active{
    background-color: #fefefe;
}
.mobile-nav menu li a {
    font-family: "Play", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #0e0e0e;
    font-weight: bold;
    display: block;
    padding: 30px;
}
/* footer */
footer{
    margin: 0;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4171E;
}
footer .footer-logo-holder{
    margin: 0 20px;
    width: auto;
    height: 100%;
    flex-grow: 1;
}
footer .footer-logo-holder img {
    width: auto;
    height: 100%;
}
footer .social-icons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
/* the asformentioned social media icon box */
footer .social-icons div{
    height: 25%; /* Adjust height to auto */
    width: auto;
    display: flex;
}
/* the images themselves */
footer .social-icons div img {
    margin: 0 10px;
    padding: 0 10px;
    height: 100%; /* Set a fixed height for social media icons */
    width: auto;
    transition: all .25s ease;
}
/* alittle hover to clearly show which logo is being chosen */
footer .social-icons img:hover {
    transform: scale(1.2);
}

/* HOME */
/* Masthead */
main{
    background: linear-gradient(to right, #500607,#861214,#500607);
}
.masthead{
    background-image: url("../img/MastHead1.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}
.mask{
    background-color: rgba(2, 2, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.masthead .mask h1{
    font-family: "Play", sans-serif;
    color: #f8f8f8;
    text-shadow: 4px 3px 3px rgba(0,0,0,.8);
    font-size: 6em;
    text-align: center;
    text-wrap: wrap;
}
/* main */
    /* paragraph */
.company-mantra{
    font-family: "Artifika", serif;
    font-size: 2.5em;
    text-align: center;
    text-wrap: wrap;
    padding: 100px 20%;
    background-color: #B52F31;
    color: #fefefe;
}
    /* call to action */
.cta{
    display: flex;
    height: 500px;
    justify-content: center;
}
.cta div:nth-child(1){
    background-image: url("../img/TrainingCallToAction.webp");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 50%;
}
.cta div:nth-child(2){
    background-image: url("../img/GearCallToAction.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 50%;
}
.cta .mask {
    background-color: rgba(2, 2, 0, .7);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: all .2s ease;
}
.cta .mask p{
    font-family: "Play", sans-serif;
    background-color: none;
    color: #fefefe;
    border: solid 5px #fefefe;
    padding: 25px;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    transition: all .2s ease;
}
.cta .mask p:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.cta .mask:hover{
    opacity: 1;
}
/* Session Pop-up form */
.popup-form{
    padding: 2% 5%;
    text-align: center;
    background-color: #f0f0f0;
}
.popup-form h4{
    font-size: 3.5em;
    text-shadow: 2px 1px 2px rgba(0,0,0,.6);
}
.popup-form .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, .4);
    transition: all .5s ease;
}
.popup-form .modal-content{
    background-color: #7a1618;
    border: 6px solid #0e0e0e;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    height: auto;
}
.popup-form .modal-content h4{
    color: #f4f4f4;
    font-size: 1.75em;
}
.popup-form .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
.popup-form .close:hover,
.popup-form .close:focus{
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
}
.popup-form .modal-content form{
    width: 100%;
    height: auto;
    text-align: center;
}
.popup-form .modal-content form .popup-form-content{
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 0 50px;
}
.popup-form .modal-content form input,
.popup-form .modal-content form textarea{
    width: 80%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
    color: #000;
    background-color: #f8f8f8;
}
.popup-form .modal-content form input[type=submit]{
    min-width: 100px;
    width: 40%;
}
    /* review section */
.reviews{
    padding: 125px 0 150px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.reviews > h2{
    font-size: 3em;
}
.all-reviews{
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content: center;
}
.all-reviews div{
    margin: 0 15px;
}
.stars .fa-star{
    font-size: 2em;
    margin: 20px 10px;
}
.star-checked {
    color: orange;
}
.review p{
    font-size: 2em;
    width: 300px;
}

/* Products Page */
.products-main{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.products-main section{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.products-main section h1,
.products-main section h2,
.products-main section h3{
    font-family: "Play", sans-serif;
    background-color: #fefefe;
    padding: 30px 20px;
}
.products-main section .cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0;
}
.products-main section .cards .card{
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 30px 15px;
    height: 450px;
    width: 300px;
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "img img" 
        "name name"
        "form form";
}
.products-main section .cards .card form{
    grid-area: form;
    display: flex;
    flex-direction: column;

    justify-items: flex-start;
    text-align: left;
}
.products-main section .cards .card img{
    grid-area: img;
    width: 100%;
    height: auto;
    border-radius: 500px;
}
.products-main section .cards .card .product-name{
    font-family: "Cuprum", sans-serif;
    font-size: 1.3em;
    grid-area: name;
    padding-top: 5px;
    text-align: center; 
}
.products-main section .cards .card .color-weight{
    display: flex;
    justify-content: space-around;
}
.color-radio-holder input[type="radio"]{
    appearance: none;
    border: 2px solid #0e0e0e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .1s ease;
}
.color-radio-holder input[type="radio"]:checked{
    transform: scale(.8);
}
.products-main section .cards .card select{
    font-family: "Roboto", sans-serif;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
    margin-top: 3px;
}
.products-main section .cards .card .button-holder{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 15px;
}
.button-holder p{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}
.button-holder input[type="submit"]{
    font-family: "Roboto", sans-serif;
    border: 2px solid #0e0e0e;
    background-color: #fefefe;
    color: #0e0e0e;
    border-radius: 10px;
    transition: all .20s ease;
}
.button-holder input[type="submit"]:hover{
    color: #fefefe;
    background: linear-gradient(to bottom, #500607,#861214,#500607);
    cursor: pointer;
}
.products-main section .cards .card .sold-out{
    font-family: "Play", sans-serif;
    grid-area: form;
    font-size: 2.5em;
    color: #535353;
    font-weight: 550;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.color-radio-holder .black{
    background-color: #0e0e0e;
}
.color-radio-holder .white{
    background-color: #fefefe;
}
.color-radio-holder .red{
    background-color: red;
}
.color-radio-holder .pink{
    background-color: pink;
}
.color-radio-holder .blue{
    background-color: blue;
}

/* individual product pages */
.product-main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.product-main section{
    display: flex;
    margin: 100px 0;
}
.product-main section h1{
    font-family: "Play", sans-serif;
    font-size: 35px;
}
.product-main section figure{
    background-color: #fefefe;
    width: 500px;
    text-align: center;
}
.product-main section figure img{
    width: 100%;
    height: auto;
}
.product-main section figure figcaption{
    font-family: "Artifika", serif;
    font-size: 1.25em;
    padding: 10px;
}
.product-main section .form-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: #f0f0f0;
}
.shipping-radio-holder input[type="radio"]{
    appearance: none;
    border: 1px solid #0e0e0e;
    background-color: #fefefe;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .1s ease;
}
.shipping-radio-holder input[type="radio"]:checked{
    border: 2px solid blue;
}
.product-main section .form-holder form #size-heading,
.product-main section .form-holder form #color-heading,
.product-main section .form-holder form #shipping-heading,
.product-main section .form-holder form .price,
.product-main section .form-holder form #amount-holder,
.product-main section .form-holder form .button-holder{
    font-family: "Cuprum", sans-serif;
    font-size: 25px;
    margin-top: 15px;
}
.product-main section .form-holder form select{
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}
.product-main section .form-holder form .color-radio-holder{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
}
.product-main section .form-holder form .color-radio-holder input{
    width: 25px;
    height: 25px;
}
.product-main section .form-holder form .shipping-radio-holder{
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 15px 0;
}
.product-main section .form-holder form .shipping-radio-holder div{
    display: flex;
    align-items: center;
}
.product-main section .form-holder form .shipping-radio-holder div label{
    padding-right: 10px;
    font-size: 20px;
}
.product-main section .form-holder form .price{
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    margin: 30px 10px;
}
.product-main section .form-holder form #amount-holder{
    display: flex;
    justify-content: center;
    margin: 0;
}
.product-main section .form-holder form #amount-holder #increment,
.product-main section .form-holder form #amount-holder #decrement{
    padding: 20px;
    background-color: #afafaf;
    user-select: none;
}
.product-main section .form-holder form #amount-holder #increment:hover,
.product-main section .form-holder form #amount-holder #decrement:hover{
    cursor: pointer;
}
.product-main section .form-holder form #amount-holder #counter{
    text-align: center;
}
.product-main section .form-holder form .button-holder{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}
.product-main section .form-holder form .button-holder input[type="submit"]{
    font-family: "Roboto", sans-serif;
    border: 2px solid #0e0e0e;
    width: 100%;
    background-color: #fefefe;
    color: #0e0e0e;
    border-radius: 10px;
    transition: all .20s ease;
}
.product-main section .form-holder form .button-holder input[type="submit"]:hover{
    color: #fefefe;
    background: linear-gradient(to bottom, #500607,#861214,#500607);
    cursor: pointer;
}

.product-main section .no-size form #size-heading,
.product-main section .no-size form #color-heading,
.product-main section .no-size form #shipping-heading,
.product-main section .no-size form .price,
.product-main section .no-size form #amount-holder,
.product-main section .no-size form .button-holder{
    font-family: "Cuprum", sans-serif;
    font-size: 25px;
    margin-top: 40px;
}
.product-main section .no-size form .price{
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    margin: 30px 10px;
}
@media (max-width: 1000px) {
    /* header footer */
    .desktop-nav{
        display: none;
    }
    .burger{
        display: block;
    }
    /* home */
    .cta {
        flex-direction: column;
        height: 800px; 
    }
    .cta div:nth-child(1),
    .cta div:nth-child(2) {
        width: auto; 
        height: 100%; 
    }
    .cta .mask{
        opacity: 1;
    }
    /* individual products */
    .product-main section{
        flex-direction: column;
        margin: 0;
    }
    .product-main section figure{
        width: 100%;
    }
    .product-main section .form-holder{
        padding: 15px;
    }
}
@media (max-width: 600px) {
    footer{
        height: 200px;
    }
    footer .social-icons {
        flex-wrap: wrap;
        width: 100%;
    }
    footer .social-icons div a {
        height: auto;
        width: auto; 
        margin: 5px;
        padding: 0;
    }
    .masthead .mask h1{
        font-size: 4em;
    }
}
@media (max-width: 400px) {
    footer .footer-logo-holder{
        height: 55%;
    }
    footer .social-icons div a {
        height: auto;
        width: auto;
        margin: 2.5px; 
        padding: 0;
    }
    .masthead .mask h1{
        font-size: 2.5em;
    }
    .company-mantra{
        font-size: 1.5em;
        padding: 100px 10%;
    }
    .reviews > h2{
        font-size: 2em;
    }
    .stars .fa-star{
        font-size: 1.5em;
        margin: 20px 5px;
    }
    .all-reviews div{
        margin: 0;
    }
    .review p{
        font-size: 1.5em;
        width: 200px;
    }
}